<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form action="{{ url_for('email.reset_with_token', token=token) }}" method="POST">
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password" required><br><br>
        
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>
        
        <input type="submit" value="Reset Password">
    </form>

    <script>
        async function f(){
            let resp = await fetch("/handle_errors");
            let data = await resp.json();
            console.log(data)
            
        }
        f();
    </script>

</body>
</html>