<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email</title>
</head>
<body>
    <form action="{{ url_for('email.verify_email') }}" method="POST">
        <label for="verification_code">Varification code:</label><br>
        <input type="number" id="verification_code" name="verification_code" required><br><br>
        <input type="submit" value="Submit">
    </form>

    <script>
        async function f(){
            let resp = await fetch("/handle_errors");
            let data = await resp.json();
            console.log(data)
            
        }
        f();
    </script>
</body>
</html>